<br>
<br>
<div *ngIf="currentOpeningId !== 0" class="row">
    <div class="col d-flex justify-content-center">
        <button class="btn btn-outline-light" (click)="previous()">Previous</button>
    </div>
    <div class="col d-flex justify-content-center">
        <button class="btn btn-outline-light" (click)="next()">Next</button>
    </div>
</div>
<br>
<div *ngFor="let move of histo" class="row">
    <div class="col" [ngClass]="{'currentMoveNumber': move.moveNumber === moveNumber}">
        {{ move.moveNumber }}
    </div>
    <div class="col move" [ngClass]="{'currentPosition': move.moveNumber === moveNumber && color === 'W'}"
        (click)="go(move.moveNumber, 'W', move.whitePosition)">
        {{ move.white }}
    </div>
    <div class="col" [ngClass]="{'currentPosition': move.moveNumber === moveNumber && color === 'B',
    'move': move.black !== ''}" (click)="go(move.moveNumber, 'B', move.blackPosition)">
        {{ move.black }}
    </div>
</div>